@model IEnumerable<WebApplication2.Models.CommentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string commentDateTime = item.CommentDateTime.ToLongDateString() +" "+ item.CommentDateTime.ToShortTimeString();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.ArticleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => commentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
        </td>
    </tr>
}

</table>
