@model WebApplication2.Models.ArticlePageWithCommentsVM

@{
    ViewBag.Title = "Details";
}


<div style="padding-bottom:30px">
    <h2>@Html.DisplayFor(model => model.Article.ArticleTitle)</h2>

    <p>@Html.DisplayFor(model => model.Article.ArticleText)</p>
    @{
        string articleDate = Model.Article.ArticleDateTime.ToLongDateString();
        string articleTime = Model.Article.ArticleDateTime.ToShortTimeString();
    }
    Posted at @Html.DisplayFor(modelItem => articleDate) , @Html.DisplayFor(modelItem => articleTime) by @Html.DisplayFor(modelItem => Model.Article.User.UserName)
</div>

<table class="table">
    @foreach (var item in Model.CommentsOfArticle)
    {
        string commentDate = item.CommentDateTime.ToLongDateString();
        string commentTime = item.CommentDateTime.ToShortTimeString();
        <tr>
            <td>
                <div>
                    <span>@Html.DisplayFor(modelItem => item.CommentText)</span>
                </div>
            </td>
            <td>
                <div>
                    <span style="float:right">
                        <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.User.UserName)</span><br />
                        Posted at @Html.DisplayFor(modelItem => commentDate) , @Html.DisplayFor(modelItem => commentTime)
                    </span>
                </div>
            </td>
        </tr>

    }
</table>

@Html.Partial("CommentCreate");


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter a new comment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CommentText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommentText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CommentText, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Article_ArticleID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@






@*<h2>Details</h2>

<div>
    <h4>ArticleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
